<a href="https://colab.research.google.com/github/loop0-0/Learning-machine-testing/blob/main/Linear_Regression.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [12]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

In [3]:
x_and_y =[(0, 1), (1, 3), (2, 2), (3, 5), (4, 7), (5, 8), (6, 8), (7, 9), (8, 10), (9, 12)]
data = pd.DataFrame(x_and_y , columns=["x","y"])
data

   x   y
0  0   1
1  1   3
2  2   2
3  3   5
4  4   7
5  5   8
6  6   8
7  7   9
8  8  10
9  9  12

In [39]:
x=data["x"]
y=data["y"]

b =0
w_guess =[ 0.75,1.0 ,1.25,1.5,1.75,2.0]
l2_list =[]
for w in w_guess:
    y_predicted = b + w * x
    error = y -y_predicted
    l2 = np.mean(error**2)*0.5
    l2_list.append(l2)
    print(w,"------->",l2)
plt.plot(w_guess, l2_list)